@model SmartsheetsPIF.Models.NiftiModel

@{
    ViewData["Title"] = "Nifti Details";
}



<div class="row">
    <div class="col-12">
        <h2 class="header-title">@Html.DisplayFor(model => model.projectName) Details</h2>

        <h2 class="header-title">@Html.DisplayFor(model => model.dateRequested) Details</h2>

        <hr />

    </div>
</div>