@{
    ViewData["Title"] = "MKS";
}

<h1>@ViewData["Title"]</h1>

<div>
    <IFRAME WIDTH=100% HEIGHT=600 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=b07386b3ac6442ebaf8d490becccc687"></IFRAME>
</div>