@{
    ViewData["Title"] = "Bid Sheets";
}
<section id="main">
    <h1>Bid Sheet</h1>

    <IFRAME WIDTH=1000 HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=0158333c288549e8aad2ea40b61db2dd"></IFRAME>
</section>