@{
    ViewData["Title"] = "Finance";
}
<section class="roadmap-guidelines">
    <div>

        <h2> Roadmap Guidelines</h2>
        <br />
        <br />
        <div>

            <span><h5>Committed (90-100% confidence level)</h5>	</span>
            <span>The following criteria must be met when moving to committed: </span>

            <ul>
                <li>
                    DSOW is routing or signed.
                </li>
                <li>
                    Schedule has been confirmed.
                </li>
                <li>
                    All approvals (creative, content, etc.) have been obtained or are on track.
                </li>
                <li>
                    Team has been resourced.*
                </li>
                <li>
                    Revenue is committed and in client budget tracker.
                </li>
            </ul>

        </div>
        <br />
        <div>

            <span><h5>Committed Confidence Level</h5></span>
            <p>

                When to flag that your number is soft or that you aren’t 100% confident that you will hit your committed numbers:
              
            </p>
            <ul>
                <li>  Potential live date shift.</li>
                <li>Schedule not being met. Clients may change scope, miss a deadline that impacts dev start date or shift live date.</li>
                <li>DSOW routing is being delayed due to negotiations with EVP as no work can begin without signature OR written approval from Provost.</li>
                <li>Resourcing issues - team member is sick or was pulled to another project.</li>
            </ul>
        </div>
        <br />
        <div>
            <span><h5>Pipeline</h5></span>
            <p>
                <ul>
                    <li><b>High (75% +)</b>	Requirements gathering. Project will definitely happen - timing may or may not be confirmed. Account will add items to high pipeline for Delivery to action against.</li>
                    <li><b>Next Steps:</b>	Delivery to pull together LOE, draft SOW, staff resources </li>
                    <li>
                        <b>Potential scenarios:</b>Project confirmed with clients, LOE pending.** DSOW signed, resources staffed to generic roles.

                    </li>
                    <li>
                        <b>3 months out:</b> Brief must be complete to stay in High pipeline - if no brief, move to Low pipeline.
                        NOTE: New project intake process incoming.
                    </li>
                    <li>
                        <b>Low (74% and below)</b> Work has been discussed or is in the client budget sheet. May or may not happen.
                        Account will add items to low pipeline for next steps.
                    </li>
                    <li>
                        <b> Next Steps:</b>	Account to pull together brief, get timing and details from clients.

                    </li>
                </ul>

            </p>

        </div>
        <br />
        <div>
            <span><h5>Nuances</h5></span>
            <ul>
                <li>
                    If DSOW/CR is in progress and a partial team is resourced, list the amount that has been resourced in committed and the remainder that you're still working to resource in pipeline high.
                    **If DSOW/CR is in progress or soon to be, but schedule has yet to be defined or LOEs secured, add best guess estimates as placeholder until confirmed."
                </li>
            </ul>

        </div>
    </div>
</section>
<div class="finance">
    <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=8b797488a6eb49ebb103fa3323a32207"></IFRAME>
</div>

