@{
    ViewData["Title"] = "Finance";
}

<div class="finance">
    <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=8b797488a6eb49ebb103fa3323a32207"></IFRAME>
</div>

