@{
    ViewData["Title"] = "LATAM";
}
<section id="main">


    <h1>LATAM Metrics</h1>

    <div class="latam">
        <IFRAME WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=e6d66d0e01af43ba9c8f3ab06960d07e"></IFRAME>
    </div>
</section>