@model Smartsheetsproject.Models.UserModel

@{
    ViewData["Title"] = "NIFTI Pipeline";
}

<div class="welcome-title">Welcome,<span> @Html.DisplayFor(m => m.Username)</span> </div>

<div class="row">
    <div class="col-12">
        <iframe width="100%" height="750" frameborder="0" src="https://app.smartsheet.com/b/form/49ef37e7b1344f2b8d5749ec69c12dfe"></iframe>
    </div>
