@{
    ViewData["Title"] = "NIFTI Pipeline";
}

<div class="nifti">
    <IFRAME id="nifti" WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=5b309e75276742b0b7f757351ee34445" ></IFRAME>
</div>
