@{
    ViewData["Title"] = "Artbot Process";
}

<h1>@ViewData["Title"]</h1>
<section>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="700" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FDQDl242iWfFpSPw5bJC3Ti%2FDTV-artbot-Process%3Fnode-id%3D0%253A1%26t%3DAZjb8PRj2rZSdhQf-1" allowfullscreen></iframe>
</section>