@model Smartsheetsproject.Models.NiftiModel

@{
    ViewData["Title"] = "Production Reports";
}

<h2 class="header-title">Production Reports(Stage 3)</h2>

<form id="pipelines">
    <div data-form-order="1">
        <div id="select-form">
            <select id="select-box" class="js-revealer">
                <option value="0" data-r-show-target="" data-r-hide-target=".opt-1, .opt-2, .opt-3, .opt-4, .opt-5, .opt-6, .opt-7, .opt-other">- Select a Client -</option>
                <option value="1" data-r-show-target=".opt-1, .opt-other" data-r-hide-target=".opt-2, .opt-3, .opt-4, .opt-5, .opt-6, .opt-7">AT&T</option>
                <option value="2" data-r-show-target=".opt-2, .opt-other" data-r-hide-target=".opt-1, .opt-3, .opt-4, .opt-5, .opt-6, .opt-7">DTV</option>
                <option value="3" data-r-show-target=".opt-3, .opt-other" data-r-hide-target=".opt-1, .opt-2, .opt-4, .opt-5, .opt-6, .opt-7">Nissan</option>
                <option value="4" data-r-show-target=".opt-4, .opt-other" data-r-hide-target=".opt-1, .opt-2, .opt-3, .opt-5, .opt-6, .opt-7">Apple</option>
                <option value="5" data-r-show-target=".opt-5, .opt-other" data-r-hide-target=".opt-1, .opt-2, .opt-3, .opt-4, .opt-6, .opt-7">Harley Davidson</option>
                <option value="6" data-r-show-target=".opt-6, .opt-other" data-r-hide-target=".opt-1, .opt-2, .opt-3, .opt-4, .opt-5, .opt-7">Mars Rigley</option>
                <option value="7" data-r-show-target=".opt-7, .opt-other" data-r-hide-target=".opt-1, .opt-2, .opt-3, .opt-4, .opt-5, .opt-6">QuickBooks</option>

            </select>
        </div>
        <div data-response="op1" class="opt-1 is-hidden">
            <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=bf0988e3c10a4660b0828a30dcc71719"></IFRAME>
        </div>
        <div data-response="op2" class="opt-2 is-hidden">
            <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=e6dd256feb1d4859accc02ecdf999bd6"></IFRAME>
        </div>
        <div data-response="op3" class="opt-3 is-hidden">
            <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=f4fd46dfcd394666a4f67981042b9057"></IFRAME>
        </div>
        <div data-response="op4" class="opt-4 is-hidden">
            <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=b07386b3ac6442ebaf8d490becccc687"></IFRAME>
        </div>
        <div data-response="op5" class="opt-5 is-hidden">
            <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=38eaaf372eb44647951c030bedcb9380"></IFRAME>
        </div>
        <div data-response="op6" class="opt-6 is-hidden">
            <IFRAME WIDTH=100% HEIGHT=800 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=69a4aa7957b1417897eb71df36c69d62"></IFRAME>
        </div>
        <div data-response="op7" class="opt-7 is-hidden">
            <IFRAME WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=3873c83ca7c24ebdb0d2d35fbe80b9f7"></IFRAME>
        </div>
</form>
