@model Smartsheetsproject.Models.NiftiModel

@{
    ViewData["Title"] = "Production Reports";
}

<h2 class="header-title">Aggregated Production</h2>


<div class="row">

    <div class="col-3">
        <label>
            <input type="checkbox" name="checkbox" value="ATT"> AT&T
        </label>
        <label>
            <input type="checkbox" name="checkbox" value="DTV"> DTV
        </label>
        <label>
            <input type="checkbox" name="checkbox" value="Nissan"> Nissan
        </label>
        <label>
            <input type="checkbox" name="checkbox" value="Apple"> Apple
        </label>
        
    </div>
    <div class="col-4">
        
        <label>
            <input type="checkbox" name="checkbox"
                   value="Harley"> Harley
        </label>
        <label>
            <input type="checkbox" name="checkbox"
                   value="Mars"> Mars/Wrigley
        </label>
        <label>
            <input type="checkbox" name="checkbox"
                   value="QB"> QuickBooks
        </label><label>
            <input type="checkbox" name="checkbox"
                   value="Peloton"> Peloton
        </label>
    </div>
</div>
<div class="reports">
    <div class="ATT select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=bf0988e3c10a4660b0828a30dcc71719"></IFRAME>
    </div>
    <div class="DTV select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=e6dd256feb1d4859accc02ecdf999bd6"></IFRAME>
    </div>
    <div class="Nissan select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=c25f511a0df149df96e9b2c30d542129"></IFRAME>
    </div>
    <div class="Apple select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=9f489124be5f4fe397a870c99d2d9b54"></IFRAME>
    </div>
    <div class="Harley select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=38eaaf372eb44647951c030bedcb9380"></IFRAME>
    </div>
    <div class="Mars select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=69a4aa7957b1417897eb71df36c69d62"></IFRAME>
    </div>
    <div class="QB select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=3873c83ca7c24ebdb0d2d35fbe80b9f7"></IFRAME>
    </div>
    <div class="Peloton select">
        <IFRAME WIDTH=100% HEIGHT=400 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=ffb9ed18f0f745738958ee55dabb2468"></IFRAME>
    </div>
</div>
