@{
    ViewData["Title"] = "Production - Tech";
}

<div>
    <IFRAME WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=7eb07fff896e4f73b06e3554bf828559"></IFRAME>
</div>

<div>
    <IFRAME WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=e43898e92cf94eb092664affebd93013"></IFRAME>
</div>