@model SmartsheetsPIF.Models.NiftiModel

@{
    ViewData["Title"] = "Update Projects";
}

<div class="row">

    <div class="col-12">
        @*@if (Model.projectName != null)
            {
                <h2 class="header-title">PIF - @Html.DisplayFor(m => m.projectName)</h2>
            }*@
        <hr />
    </div>
</div>


@using (Html.BeginForm("Edit", "Nifti", FormMethod.Post, new { @class = "form-group row" }))
{
    <div class="col-12 col-md-6">
        @Html.HiddenFor(m => m.pipeline_Id)


        <div class="form-group">
            <label asp-for="projectName" class="control-label">Project Name</label>
            @Html.TextBoxFor(m => m.projectName, new { @class = "form-control" })
            <span asp-validation-for="projectName" class="text-danger"></span>
        </div>
        


    </div>

    <div class="col-12 col-md-6">

        
    </div>

}

<div class="back">
    <a asp-action="List" class="btn btn-secondary">
        <i class="bi bi-arrow-bar-left"></i>
        <span>Back to List</span>
    </a>
</div>