@{
    ViewData["Title"] = "Production - Video";
}

<div>
    <IFRAME WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=e43898e92cf94eb092664affebd93013" VIEW="Card"></IFRAME>
</div>