
@{
    ViewData["Title"] = "Display Pipeline";
}

<div>
    <select onChange="window.location.href=this.value">
        <option> -- Please Select an option -- </option>
        <option value="/Design/List">Design</option>
        <option value="/Display/List">Display</option>
    </select>
  
</div>