
@{
    ViewData["Title"] = "Display Pipeline";
}

<div>
    <select onChange="window.location.href=this.value">
        <option> -- Please Select an option -- </option>
        <option value="/Design/List">Design</option>
        <option value="/Display/List">Display</option>
    </select>
    <IFRAME WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=ffa08fff21594453be44eb75c1c82d31"></IFRAME>
</div>