@model IEnumerable<SmartsheetsPIF.Models.DisplayModel>

@{
    ViewData["Title"] = "Display Pipeline";
}

<div>
    <IFRAME WIDTH=1000 HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=7eb07fff896e4f73b06e3554bf828559"></IFRAME>
</div>