@model IEnumerable<SmartsheetsPIF.Models.PDSModel>

@{
    ViewData["Title"] = "Artbot Pipeline";
}

<div>
    <IFRAME WIDTH=1000 HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=026ac6bc76264c14be355d9a59bc0f75"></IFRAME>
</div>
