@page
@{
    Layout = null;
 }

<!Doctype html>

<html>

<head>
    <meta name="viewport" content="width-device-width" />
    <title>DesignFormInvokeAsync</title>
</head>

<body>
    <h1>Design Form</h1>
    @await Component.InvokeAsync("DesignForm",
    new {
        designFormType = "smartsheet"
    }) 
</body>
</html>