@model SmartsheetsPIF.Models.PIFModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Create new PIF</h1>
<div class="row">
    <div class="col-12">
        @*<iframe width="1000" height="700" frameborder="0" src=" @Html.HiddenFor(m => m.iframe_Create_Pif)"></iframe>*@
        <iframe width="100%" height="700" frameborder="0" src="https://app.smartsheet.com/b/form/7d0d6b92cb3f4982a1973ace072a652c"></iframe>
    </div>
</div>