.flex {
    display: flex;
    align-items: baseline;
}

.is-hidden {
    display: none;
}

.nifti, .pipeline, .finance {
    padding-top: 1rem;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: lightblue;
}

.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: lightblue !important;
}

.project-col a{
    color: black;
}

input.save-changes {
    background: #5bc073;
    color: white;
    border: none;
    border-radius: 7%;
}

.btn.back {
    background: #0232ae59;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}

.project-links, .teams {
    padding: .5em;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    border: none;
    margin-left: 1rem;
    width: 91%;
}

dl.row {
    margin-bottom: 0;
}

textarea.details {
    border: none;
    width: 96%;
}

div.links {
    display: grid;
}

p.project-type {
    padding-left: .5rem;
}

.header-title {
    padding-left: .5rem;
}

h4.fast-track {
    color: red;
    font-weight: 500;
    padding-left: .5rem;
}

#SelectedCategory_chosen {
    width: 100% !important;
}



.toggle {
    display: none
}



.select {
 display: none;
}

label {
    margin-right: 20px;
}

.box-section, .figma-section {
    width: 100%;
}

.box, .wbs, .figma {
    display: flex;
    align-items: baseline;
}

.wbs-expand, .box-expand, .figma-expand {
    padding: 2px;
    cursor: pointer;
    margin: 0.5rem;
    width: 100px;
    border-radius: 7px;
    background-color: #f9f9f9;
}

.box-content, .wbs-content, .figma-content {
    display: none;
    padding: 5px;
}




@media only screen and (max-width: 767px) {
    #client-group, #intake-type{
        display: none;
    }
    type {
        display: none;
    }
}

