.is-hidden {
    display: none;
}

form#pipelines {
    height: 800px;
}

#pipeline {
    max-width: 85% !important;
/*    height: 850px;*/
}
.nifti, .pipeline, .finance {
    padding-top: 1rem;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: lightblue;
}

.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: lightblue !important;
}