.flex {
    display: flex;
    align-items: baseline;
}

.is-hidden {
    display: none;
}

.nifti, .pipeline, .finance {
    padding-top: 1rem;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: lightblue;
}

.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: lightblue !important;
}

.project-col a{
    color: black;
}

input.save-changes {
    background: #5bc073;
    color: white;
    border: none;
    border-radius: 7%;
}

.btn.back {
    background: #0232ae59;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}

.project-links, .teams {
    padding: .5em;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    border: none;
}

dl.row {
    margin-bottom: 0;
}

textarea.details {
    border: none;
}

div.links {
    display: grid;
}

p.project-type {
    padding-left: .5rem;
}

h1.fast-track {
    color: red;
    font-weight: 500;
    padding-left: .25rem;
}